@model CanvasChronicles.Models.LoginViewModel

<form asp-action="Login" method="post">
    <div class="form-group">
        <p id="verificationMessage" style="color: green;">Login Page Verified!</p>
        <label asp-for="Username">Enter Username:</label>
        <input asp-for="Username" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Password">Enter Password:</label>
        <input asp-for="Password" class="form-control" type="password" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>