@{
    ViewData["Title"] = "Blog";
}

<h1>@ViewData["Title"]</h1>

<p>Welcome to our Canvas Chronicles  blog! Here you'll find the latest updates, stories, and insights related to AI generated art.</p>
