@{
    ViewData["Title"] = "Blog";
    var currentDate = DateTime.Now.ToString("MM/dd/yyyy");
}

<div style="display: flex; justify-content: space-between; align-items: center;">
    <h1>@ViewData["Title"]</h1>
    <div style="text-align: right;">
        <p>Today's Date: @currentDate</p>
        <input type="date" id="simple-calendar">
    </div>
</div>

<p><strong>Welcome to our Canvas Chronicles  blog! Here you'll find the latest updates, stories, and insights related to AI generated art.</strong></p>
<p>Posts will appear in reverse chronological order.</p>
