@{
    ViewData["Title"] = "Blog";
    var currentDate = DateTime.Now.ToString("MM/dd/yyyy");
}

<div style="display: flex; justify-content: space-between; align-items: center;">
    <h1>@ViewData["Title"]</h1>
    <div style="display: flex; align-items: center; gap: 10px;">
            <p style="margin: 0;">Today's Date:</p>
        <span>@currentDate</span>
    </div>
</div>

<p><strong>Welcome to our Canvas Chronicles  blog! Here you'll find the latest updates, stories, and insights related to AI generated art.</strong></p>
<p>Posts will appear in reverse chronological order.</p>
