@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }

    .main-container {
        text-align: center;
        margin-top: 50px;
    }

    .main-container h1 {
        font-size: 3em;
        color: #333;
    }

    .main-container p {
        font-size: 1.2em;
        color: #666;
    }

    .main-container a {
        color: #007bff;
        text-decoration: none;
    }

    .main-container a:hover {
        color: #0056b3;
        text-decoration: underline;
    }

    .footer {
        text-align: center;
        padding: 20px 0;
        background-color: #eaeaea;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: #777;
    }
</style>

<div class="main-container">
    <h1>Welcome to Canvas Chronicles</h1>
    <p>Discover insights, stories, and experiences. Dive into the world of art development, art technology, 
        AI-generated art, and more!</p>
    <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
    
    <!-- Image container -->
    <div class="image-container">
        <img src="~/images/homepage_1.png" alt="Art, Technology, and Development">
    </div>
</div>