@{
    ViewData["Title"] = "Privacy Policy";
}

<h2>@ViewData["Title"]</h2>

<section>
    <h3>Last updated: 16 Jan 2024</h3>
    <p>
        At <strong>Matt's Art Blog</strong>, accessible from <em>[Blog's URL]</em>,
        one of our main priorities is the privacy of our visitors. This Privacy Policy document
        contains types of information that are collected and recorded by <strong>Matt's Art Blog</strong>
        and how we use it.
    </p>

    <h4>Information We Collect</h4>
    <p>
        [information we collect, such as name, email address, etc.]
    </p>

    <!-- Continue with other sections such as how the information is used, like cookies policy, etc. -->

    <h4>Consent</h4>
    <p>
        By using our website, you hereby consent to our Privacy Policy and agree to its terms.
    </p>

    <h4>Contact Us</h4>
    <p>
        If you have any questions about our Privacy Policy, do not hesitate to contact us at <em>[email TBD]</em>.
    </p>
</section>
